<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Fenster</title>
  <meta name="description" content="RDF quad-store frontend">
  <meta name="author" content="Knakk!">

  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

  <div id="container">
    <h2>&lt;{{.URI}}&gt;</h2>

    <ul>
    {{range .Images}}
      <li class="image">{{.}}</li>
    {{end}}
    </ul>
    <div class="clearfix"></div>

    <h3><span class="black">{{.ShortURI}}</span> as subject</h3>

    <table class="quads">
    <thead>
      <tr>
        <td>GRAPH</td>
        <td>PREDICATE</td>
        <td>OBJECT</td>
      </tr>
    </thead>
    <tbody>
    {{range $el := .AsSubject}}
      <tr>
        <td>{{$el.g}}</td>
        <td>{{$el.p}}</td>
        <td>{{$el.o}}</td>
      </tr>
    {{end}}
    </tbody>
    </table>


    <h3><span class="black">{{.ShortURI}}</span> as object</h3>
    <table class="quads">
    <thead>
      <tr>
        <td>GRAPH</td>
        <td>SUBJECT</td>
        <td>PREDICATE</td>
      </tr>
    </thead>
    <tbody>
    {{range $el := .AsObject}}
      <tr>
        <td>{{$el.g}}</td>
        <td>{{$el.s}}</td>
        <td>{{$el.p}}</td>
      </tr>
    {{end}}
    </tbody>
    </table>

  </div>
  <script src="js/scripts.js"></script>
  <footer>
    <p>{{.Name}} version {{.Version}} by <a href="https://github.com/knakk">Knakk! technologies</a></p>
  </footer>
</body>
</html>
