<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{.Title}}</title>
  <meta name="description" content="RDF quad-store frontend">
  <meta name="author" content="Knakk!">

  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

  <div id="container">
    <h2>&lt;{{.URI}}&gt;</h2>

    <ul>
    {{range .Images}}
      <li class="image"><img src="{{.}}" alt="{{.}}" title="{{.}}"></li>
    {{end}}
    </ul>
    <div class="clearfix"></div>

    <h3><span class="black">{{.ShortURI}}</span> as subject</h3>

    <table class="quads">
    <thead>
      <tr>
        <td>GRAPH</td>
        <td>PREDICATE</td>
        <td>OBJECT</td>
      </tr>
    </thead>
    <tbody>
    {{range $el := .AsSubject}}
      <tr>
        <td>{{$el.g}}</td>
        <td>{{$el.p}}</td>
        <td>{{$el.o}}</td>
      </tr>
    {{end}}
    </tbody>
    </table>


    <h3><span class="black">{{.ShortURI}}</span> as object</h3>
    <table class="quads">
    <thead>
      <tr>
        <td>GRAPH</td>
        <td>SUBJECT</td>
        <td>PREDICATE</td>
      </tr>
    </thead>
    <tbody>
    {{range $el := .AsObject}}
      <tr>
        <td>{{$el.g}}</td>
        <td>{{$el.s}}</td>
        <td>{{$el.p}}</td>
      </tr>
    {{end}}
    </tbody>
    </table>

  </div>
  <script>
    function sortTable(table, col, reverse) {
        var tb = table.tBodies[0],
            tr = Array.prototype.slice.call(tb.rows, 0),
            i;
        reverse = -((+reverse) || -1);
        tr = tr.sort(function (a, b) {
            return reverse
                * (a.cells[col].textContent.trim()
                    .localeCompare(b.cells[col].textContent.trim())
                   );
        });
        for(i = 0; i < tr.length; ++i) tb.appendChild(tr[i]);
    }

    function makeSortable(table) {
        var th = table.tHead, i;
        th && (th = th.rows[0]) && (th = th.cells);
        if (th) i = th.length;
        else return;
        while (--i >= 0) (function (i) {
            var dir = 1;
            th[i].addEventListener('click', function () {sortTable(table, i, (dir = 1 - dir))});
        }(i));
    }

    function makeAllSortable(parent) {
        parent = parent || document.body;
        var t = parent.getElementsByTagName('table'), i = t.length;
        while (--i >= 0) makeSortable(t[i]);
    }

    window.onload = function () {makeAllSortable();};
  </script>
  <footer>
    <p>{{.Name}} version {{.Version}} by <a href="https://github.com/knakk">Knakk! technologies</a></p>
  </footer>
</body>
</html>
